.section {
  width: 1250px;
  max-width: calc(100% - 20px);
  margin: 20px auto;
}
.title {
  font-size: 36px;
  color: var(--sup_10);
  text-align: center;
}
.subTitle {
  font-size: 16px;
  color: var(--sup_6);
  text-align: center;
  margin-bottom: 2rem;
}
