:root {
  --background: #fff;
  --primary: #16abff;
  --secondary: #16abff;
  --text: #2c2c2c;
  --border: #e7e7e7;
  --card-bg: #f2f2f2;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #fff;
    --primary: #16abff;
    --secondary: #16abff;
    --text: #2c2c2c;
    --border: #e7e7e7;
    --card-bg: #f2f2f2;
  }
  html {
    color-scheme: dark;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--text);
  background: var(--background);
}

a {
  color: inherit;
  text-decoration: none;
}
