:root {
  --primary: #00df81;
  --secondary: #03624c;
  --tertiary: #032221;
  --quartenary: #2cc295;
  --quinary: #f1f7f6;
  --sup_1: #06302b;
  --sup_2: #0b453a;
  --sup_3: #095544;
  --sup_4: #17876d;
  --sup_5: #2fa98c;
  --sup_6: #6f7c7c;
  --sup_7: #030f0e;
  --sup_8: #97b4ae;
  --sup_9: #313131;
  --sup_10: #fff;
  --error: #f40d45;
  --attention: #eab804;
  --positive: #0df46a;
}

@media (prefers-color-scheme: dark) {
  :root {
    --primary: #00df81;
    --secondary: #03624c;
    --terciary: #032221;
    --quartenary: #2cc295;
    --quinary: #f1f7f6;
    --sup_4: #06302b;
    --sup_2: #0b453a;
    --sup_3: #095544;
    --sup_4: #17876d;
    --sup_5: #2fa98c;
    --sup_6: #6f7c7c;
    --sup_7: #030f0e;
    --sup_8: #97b4ae;
    --sup_9: #313131;
    --sup_10: #fff;
    --error: #f40d45;
    --attention: #eab804;
    --positive: #0df46a;
  }
  html {
    color-scheme: dark;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  color: var(--sup_6);
  background: var(--sup_7);
  padding-top: 108px;
}

a {
  color: inherit;
  text-decoration: none;
}

.swiper-button-disabled {
  opacity: 0.4;
  pointer-events: none;
}