.section {
  width: 1250px;
  max-width: calc(100% - 20px);
  margin: 20px auto;
}
.title {
  font-size: 24px;
  line-heigth: 120%;
  color: var(--primary);
  text-align: center;
  width: 400px;
  max-width: 100%;
  margin: 20px auto;
}

.subTitle {
  font-size: 16px;
  line-heigth: 120%;
  color: var(--text);
  text-align: center;
  width: 600px;
  max-width: 100%;
  margin: 20px auto;
}
.list {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  gap: 20px;
  width: 800px;
  max-width: 100%;
  margin: 20px auto;
}
.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
  width: 240px;
}
.card > img {
  border-radius: 16px;

}
.card > h3 {
  font-size: 16px;
  text-align: center
}