.section {
  width: 1250px;
  max-width: calc(100% - 20px);
  margin: 40px auto;
}
.title {
  font-size: 36px;
  line-heigth: 100%;
  color: var(--sup_6);
  text-align: center;
  width: 600px;
  max-width: 100%;
  margin: 56px auto;
}
.title > strong {
  color: var(--quinary);
}
.list {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  gap: 40px;
  max-width: 100%;
  margin: 20px auto;
}
.card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;
  width: 360px;
  place-self: stretch;
  max-width: 100%;
  background: var(--terciary);
  border: 1px solid var(--sup_1);
  padding: 40px;
  border-radius: 40px;
}
.card > img {
  border-radius: 16px;
}
.card > h3 {
  color: var(--quinary);
  font-size: 20px;
  font-weight: 500;
  text-align: center
}
.card > h4 {
  font-size: 16px;
  text-align: center;
  color: var(--sup_6);
}
.card > h4 > strong {
  color: var(--quinary);
}